<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset="UTF-8">
    <meta name='viewport' content='width=device-width,initial-scale=1.0'>

    <link rel='stylesheet' href="/static/animal_identification.css">

    <title>Wildlife Image Detection</title>

</head>
<body>
    <main>
        <h1>Wildlife Image Detection<h1>
            <form action='/upload',method='post',enctype="multipart/form-data">
                <div class="container">
                    <input type='file' name='file' accept="image/*">
                    <button input type="submit" value='Upload'><span>Upload</span></button>
                </div>
            </form>
    </main>
</body>
</html>
